#!/usr/bin/make -f
# -*- makefile -*-
#
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/dpatch.mk
include /usr/share/cdbs/1/class/ant.mk

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# UPSTREAM_VERSION is what Apache Solr thinks its version is
# DEB_UPSTREAM_VERSION is the Debian source package version (with the +dsN)
UPSTREAM_VERSION := $(shell echo $(DEB_UPSTREAM_VERSION) | grep -o "^[^+]*")
UPSTREAM_BASENAME = apache-solr-$(UPSTREAM_VERSION)
WARFILE = $(UPSTREAM_BASENAME).war
CHANGESFILE = ../solr_$(DEB_VERSION)_$(DEB_BUILD_ARCH).changes

COMMON_INSTDIR=$(CURDIR)/debian/solr-common
TOMCAT_INSTDIR=$(CURDIR)/debian/solr-tomcat6
JETTY_INSTDIR=$(CURDIR)/debian/solr-jetty
SHAREDIR=$(COMMON_INSTDIR)/usr/share/solr

# Build with OpenJDK
JAVA_HOME = /usr/lib/jvm/java-6-openjdk
JAR = $(JAVA_HOME)/bin/jar

# Set ant parameters
DEB_ANT_BUILD_TARGET = compile javadoc dist-war
DEB_ANT_CHECK_TARGET = test
DEB_JARS = ant-junit junit

DEB_INSTALL_CHANGELOGS_solr-common := CHANGES.txt

DEB_COMPRESS_EXCLUDE = .xsl .js .xslt

cleanbuilddir:: build.xml
build.xml:
	debian/rules restore-from-source

clean::
	rm -rf example/solr/data/index
	rm -f debian/solr-keyring.gpg

install/solr-common::
	# First unpack the .war file, we need most of it.
	cd $(SHAREDIR) ; $(JAR) xf $(CURDIR)/dist/$(WARFILE) 
	mv $(SHAREDIR)/WEB-INF/web.xml $(COMMON_INSTDIR)/etc/solr/
	
	# Install replication scripts
	install src/scripts/* $(SHAREDIR)/scripts
	
	# Install Solr configuration files
	# FIXME: this is example configuration, including example schema
	# Should be changed to some minimal config, with pointers
	# to documentation
	cp -r $(CURDIR)/example/solr/conf/* $(COMMON_INSTDIR)/etc/solr/conf/
	
	# This information is already in debian/copyright
	rm -f $(COMMON_INSTDIR)/usr/share/solr/META-INF/LICENSE.txt
	
	cp KEYS.txt NOTICE.txt README.txt $(COMMON_INSTDIR)/usr/share/doc/solr-common/
	cp -a docs $(COMMON_INSTDIR)/usr/share/doc/solr-common/
	cp -a build/docs/api $(COMMON_INSTDIR)/usr/share/doc/solr-common/docs/
	
	# Remove empty directories
	rmdir --ignore-fail-on-non-empty $(COMMON_INSTDIR)/usr/share/doc/solr-common/docs/skin/css
	rmdir --ignore-fail-on-non-empty $(COMMON_INSTDIR)/usr/share/doc/solr-common/docs/skin/scripts
	rmdir --ignore-fail-on-non-empty $(COMMON_INSTDIR)/usr/share/doc/solr-common/docs/skin/translations

install/solr-tomcat6::
	# Configure tomcat (also see solr-tomcat6.links)
	install --mode 0644 debian/solr-tomcat6.xml $(TOMCAT_INSTDIR)/etc/solr/
	install --mode 0644 debian/tomcat.policy $(TOMCAT_INSTDIR)/etc/solr/

#install/solr-jetty::
#	# Configure Jetty
#	install --mode 0644 debian/jetty-web.xml $(JETTY_INSTDIR)/usr/share/solr/WEB-INF/

remove-source:
	rm -f build.xml
	rm -f *.txt
	rm -f *stamp
	rm -rf debian/patched
	rm -rf build dist docs example lib src
	rm -rf apache-solr*

restore-from-source: remove-source ../solr_$(DEB_UPSTREAM_VERSION).orig.tar.gz
	tar xzf ../solr_$(DEB_UPSTREAM_VERSION).orig.tar.gz
	mv $(UPSTREAM_BASENAME)/* .
	rmdir $(UPSTREAM_BASENAME)

get-orig-source: ../solr_$(DEB_UPSTREAM_VERSION).orig.tar.gz

../solr_$(DEB_UPSTREAM_VERSION).orig.tar.gz:
	debian/get-orig-source

check:
	lintian -i $(CHANGESFILE)
	linda -i $(CHANGESFILE)
	zgrep "^---" ../solr_$(DEB_VERSION).diff.gz | grep -v debian ; [ $$? != 0 ]
	( dpkg --contents ../solr-common_$(DEB_VERSION)_all.deb ; \
	  dpkg --contents ../solr-tomcat6_$(DEB_VERSION)_all.deb ; \
	) | less
	  #dpkg --contents ../solr-jetty_$(DEB_VERSION)_all.deb ; \

upload:
	dupload -t mentors $(CHANGESFILE)
