#!/usr/bin/make -f

include /usr/share/javahelper/java-vars.mk

export JAVA_HOME=/usr/lib/jvm/default-java/

VERSION=$(shell dpkg-parsechangelog | awk '/^Version: /{print $2}' | sed 's/+.*$$//')

%:
	dh $@ --with javahelper

override_dh_auto_build:
	ant -f solr/build.xml -Dfullnamever="solr-core" dist-core
	ant -f solr/build.xml -Dfullnamever="solr-solrj" dist-solrj
	ant -f solr/build.xml -Dfullnamever="solr-solrj" javadocs-solrj
